/*
!.gitignore
!artifacts/
artifacts/cluster/*
!artifacts/cluster/pom.xml
artifacts/home/*
!artifacts/home/pom.xml
artifacts/lib/*
!artifacts/lib/pom.xml
artifacts/war/*
!artifacts/war/pom.xml
artifacts/web/*
!artifacts/web/pom.xml
!artifacts/scripts/*
!w/
!x/