/*
!.gitignore
!artifacts/
artifacts/cluster/*
!artifacts/cluster/pom.xml
!artifacts/cluster/.mvn
artifacts/home/*
!artifacts/home/pom.xml
!artifacts/home/.mvn
artifacts/lib/*
!artifacts/lib/pom.xml
!artifacts/lib/.mvn
artifacts/war/*
!artifacts/war/pom.xml
!artifacts/war/.mvn
artifacts/web/*
!artifacts/web/pom.xml
!artifacts/web/.mvn
!artifacts/scripts/*
!w/
!x/